In [1]:
for i in range(6):
    print(i)

0
1
2
3
4
5

In [2]:
for i in range(2,6):
    print(i)

2
3
4
5

In [1]:
for i in range(2,12,3):
    print(i)

2
5
8
11

(2,12,3): start,end,increment limit

In [9]:
for i in range(2,12,-3):
    print(i)

In [4]:
for i in range(12,0,-2):
    print(i)

12
10
8
6
4
2

In [2]:
num=input("please enter your number")
for i in range(1,11):
    print(num,"*",i,"=",int(num)*i)

please enter your number17
17 * 1 = 17
17 * 2 = 34
17 * 3 = 51
17 * 4 = 68
17 * 5 = 85
17 * 6 = 102
17 * 7 = 119
17 * 8 = 136
17 * 9 = 153
17 * 10 = 170

In [3]:
tableOf=input("please enter your number:")
sizeOfTable=input("please enter the range:")
for j in range(1,int(sizeOfTable)):
    result=int(tableOf)*j
    print(tableOf,"*",j,"=",result)

please enter your number:8
please enter the range:11
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80

In [21]:
result=0
for i in range(6):
    result=result+i
    print(result)

0
1
3
6
10
15

0+1+2+3+4+5

In [30]:
sum=0
x=input("please enter the number:")

for i in range(1,int(x)+1,2):
    sum=sum+i
    print(sum)

please enter the number:10
1
4
9
16
25

0+1=1+3=4+5=9+7=16+9=25(sum of odd numbers)

In [31]:
s1="India's"
s2='India'
s3="'India'"
print(s1,s2,s3)

India's India 'India'

3 types of writing string

In [32]:
s1="India"
print(s1[3])

i

In [33]:
s1="India"
print(s1[-3])

d

In [34]:
s1="India is a country"
print(len(s1))

18

In [35]:
s1="India is a country"
print(s1[17])

y

In [36]:
s1="India is a country"
print(s1[1])

n

In [2]:
s1="India is a country"
print(s1[1])
print(s1.index('c'))

n
11

In [7]:
s1="India is a country"
print(len(s1))


for i in range(len(s1)):
 print(i, s1[i])

18
0 I
1 n
2 d
3 i
4 a
5
6 i
7 s
8
9 a
10
11 c
12 o
13 u
14 n
15 t
16 r
17 y

In [3]:
s1="India is a country"
print(len(s1))


for i in range(len(s1)):
    print(i, s1[i], s1.index(s1[i]))

18
0 I 0
1 n 1
2 d 2
3 i 3
4 a 4
5   5
6 i 3
7 s 7
8   5
9 a 4
10   5
11 c 11
12 o 12
13 u 13
14 n 1
15 t 15
16 r 16
17 y 17

In [1]:
s1="india"
for i in s1:
    print(i)

i
n
d
i
a

In [2]:
s1="india"
for i in range(len(s1)):
    print(s1[i])

i
n
d
i
a

In [3]:
s1="india"
for i in s1:
    print(i.upper())

I
N
D
I
A

In [4]:
s1="india"
for i in s1:
    print(i.lower())

i
n
d
i
a

In [5]:
s1="india"
for i in s1:
    print(i.lower(),i.upper())
print(s1.upper(), s1.lower())

i I
n N
d D
i I
a A
INDIA india

In [3]:
s2="India5769iu hey INDIA 67y#$%^ jhhj"
for j in s2:
    print(j,j.isnumeric(), j.isalpha(), j.isspace())

I False True False
n False True False
d False True False
i False True False
a False True False
5 True False False
7 True False False
6 True False False
9 True False False
i False True False
u False True False
  False False True
h False True False
e False True False
y False True False
  False False True
I False True False
N False True False
D False True False
I False True False
A False True False
  False False True
6 True False False
7 True False False
y False True False
# False False False
$ False False False
% False False False
^ False False False
  False False True
j False True False
h False True False
h False True False
j False True False

In [4]:
spaceCount=0
s2="India5769iu hey INDIA 67y#$%^ jhhj"
for j in s2:
    if j.isspace()==True:
        spaceCount+=1
print("number of space:", spaceCount)

number of space: 4

In [5]:
alphaCount=0
s2="India5769iu hey INDIA 67y#$%^ jhhj"
for j in s2:
    if j.isalpha()==True:
        alphaCount+=1
print("number of alpha:", alphaCount)

number of alpha: 20

In [7]:
numericCount=0
s2="India5769iu hey INDIA 67y#$%^ jhhj"
for j in s2:
    if j.isnumeric()==True:
        numericCount=numericCount+1
print("number of numeric:", numericCount)

number of numeric: 6

In [8]:
upperCount=0
s2="India5769iu hey INDIA 67y#$%^ jhhj"
for j in s2:
    if j.isupper()==True:
        upperCount=upperCount+1
print("number of upper character:", upperCount)

number of upper character: 6

In [ ]:
upperCount=0
s2="India5769iu hey INDIA 67y#$%^ jhhj"
for j in s2:
    if j.isupper()==True:
        upperCount=upperCount+1
    elif j.isalpha():
        alphaCount=alphacount+1
    elif j.numericCount():
        numericCount=numericCount+1
print("number of upper character:", upperCount)